.main-content {
    max-width: 800px;
    margin: 0 auto;
}

.main-content .note span{
    font-size: 14px;
    font-weight: 600;
    padding: 2px 4px;
    background: rgb(255, 225, 227);
    color: black;
    border-radius: 4px;
}

.container .title {
    font-weight: 800;
}

.container + .container {
    margin-bottom: 40px;
}



.h3::before {
    content: "|";
}

.codeblock {
    background: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 20px;
}
